.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row {
  content: "";
  clear: both;
  display: table;
}

#images{
    text-align:center;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: transparent;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: transparent;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
